# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Service Worker
sw.js

static/img/gallery/thumbnails/*
static/img/gallery/*
!static/img/gallery/*/
static/img/profiles/cropped/*
static/img/profiles/*
!static/img/profiles/*/*
.DS_Store

.env